.nav--bar {
  display: flex;
  align-items: center;
  background-color: #5d0274 ;
  height: 120px;
  padding: 30px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
    
}
.nav--icon {
  height: 90px;
  margin-right: 20px;
  border-radius: 20%;
}

.sign-out-btn {
  margin: 30px;
  color: white;
  background-color: rgb(0, 26, 255);
  border-radius: 40%;
}
.nav--logo_text {
  margin-right: auto;
  font-weight: 700PX;
  font-size: 42px;
  color: white;
  background-color: #5d0274;
}
@media (max-width: 768px) {
  .sign-out-btn {
    margin: 60px;
    margin-right: 0px;
    color: white;
    background-color: rgb(0, 26, 255);
    border-radius: 40%;
  }
  .nav--icon {
    height: 50px;
    margin-right: 20px;
    border-radius: 20%;
  }
  .nav--logo_text {
    margin-right: auto;
    font-weight: 100PX;
    font-size: 15px;
    color: white;
    background-color: #5d0274;
  }

  .sidebar-container {
      margin-left: 30px;
  }
}